<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/alt-text -->
<div class="carousel">
	<ng-container *ngFor="let slide of slides; let i = index">
		<a [href]="registrationUrl">
			<img
				*ngIf="i === currentSlide"
				[src]="slide.Url"
				class="slide"
				@carouselAnimation />
		</a>
	</ng-container>

	<!-- controls -->
	<button class="control prev" (click)="onPreviousClick()">
		<span
			class="arrow left"
			[ngStyle]="{ width: arrowWidth, height: arrowHeight }"></span>
	</button>
	<button class="control next" (click)="onNextClick()">
		<span
			class="arrow right"
			[ngStyle]="{ width: arrowWidth, height: arrowHeight }"></span>
	</button>
	<div *ngIf="indicators">
		<ul class="carousel-indicators">
			<li
				[ngClass]="{ active: i === currentSlide }"
				(click)="currentSlide = i"
				*ngFor="let slide of slides; let i = index"></li>
		</ul>
	</div>
</div>
