<div class="app-home h-full px-4 md:px-16 lg:px-28">
	<div class="carousel-container mt-6">
		<app-carousel [slides]="images"></app-carousel>
	</div>
	<div class="my-6">
		<div class="upcoming-events flex flex-col">
			<app-section-title
				[sectionTitle]="'Upcoming Events'"
				(clickViewAll)="onClickViewAll()"></app-section-title>
			<div class="flex flex-col sm:flex-row gap-2 md:gap-8 w-full mt-6">
				<app-event-card
					[height]="'400px'"
					class="w-full sm:w-1/3"></app-event-card>
				<app-event-card
					[height]="'400px'"
					class="w-full sm:w-1/3"></app-event-card>
				<app-event-card
					[height]="'400px'"
					class="w-full sm:w-1/3"></app-event-card>
			</div>
		</div>
	</div>
</div>
